* {
	/* General taskbar font, I like maple mono ^-^*/
	font-family: "Maple Mono", "Mononoki Nerd Font";
	border-radius: 8;
	font-size: 15px;
	padding: 0px;
	background: transparent;
}

window#waybar {
	/* background-image: linear-gradient(to bottom, #040E4C 100%); */
	background-color: rgba(4, 14, 76, 0.1);
	background-image: linear-gradient(to bottom, rgba(4, 14, 76, 0.7) 100%);
	border-radius: 14px;
	padding: 0px;
	border-style: none;
}

#battery,
#network,
#clock,
#tray,
#workspaces,
#pulseaudio,
#custom-weather {
	/* background-image: linear-gradient(to bottom, #261F7C 100%); */

	margin: 6px 0px;
	margin-right: 0px;
	padding: 4px 8px;
	border-radius: 8px;
	color: #d8cab8;

	border-style: none;
	transition-duration: 120ms;
}

#pulseaudio {
	margin-right: 6px;
}

#custom-weather:hover,
#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover {
	/* background-image: linear-gradient(to bottom, #A07383 100%); */
	color: #A07383;
	transition-duration: 120ms;
}

#tray menu {
	background-color: #141216;
	color: #d8cab8;
	padding: 4px;
}

#tray menu menuitem {
	background-image: linear-gradient(to bottom, #27232b 100%);

	margin: 3px;
	color: #d8cab8;
	border-radius: 4px;
	border-style: solid;
	border-color: #27232b;
}

#tray menu menuitem:hover {
	background-image: linear-gradient(to bottom, #27232b 100%);
	color: #A07383;
	font-weight: bold;
}

#workspaces button {
	transition-duration: 100ms;
	all: initial;
	min-width: 0;
	font-weight: bold;
	color: #d8cab8;
	margin-right: 0.2cm;
	margin-left: 0.2cm;
}

#workspaces button:hover {
	transition-duration: 120ms;
	color: #A07383;
}

#workspaces button.focused {
	color: #A07383;
	font-weight: bold;
}

#workspaces button.active {
	color: #A07383;
	font-weight: bold;
}

#workspaces button.urgent {
	color: #fcb167;
}

#battery.warning,
#battery.critical,
#battery.urgent {
	/* color: #1d2021; */
	color: #fc4649;
}



tooltip {
    /* background-color: #040e4c;  */
	/* border: 1px solid #d8cab8;  */
	background-color: rgba(4, 14, 76, 0.5);
	background-image: linear-gradient(to bottom, rgba(4, 14, 76, 0.7) 100%);
    border-radius: 8px; 
    padding: 10px; 
}
